@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

body{
    background-color: #F0F0F0;
}

#barradebusca{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#filtrar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 8vw;
    background-color: #ffff;
    border-radius: 1vh;
    box-shadow: 0.1em 0.1em ;
    margin-right: 2%;
    font-weight: 300;
}
#entrada{
    width: 50vw;
    height: 4vh;
    border-radius: 1vh;
    border-color: transparent;
    box-shadow: 0.1em 0.1em;
    font-size: larger;

}
textarea:focus, input:focus, select:focus {
    outline: 0;
}

#pesquisar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
    width: 8vw;
    background-color: #ffff;
    border-radius: 1vh;
    box-shadow: 0.1em 0.1em ;
    margin-left: 2%;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-table{
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    height: 61.111vh;
    width: 81.51vw;
}

#tabela-estoque{
    width: 81.51vw;
}

#tabela-estoque th{
    background-color: #4E97D1;
    height: 4.074vh;
    color: #fff;
}
#tabela-estoque tr, td{
    background-color: #FFFFFF;
    height: 4.074vh;
    padding: 0.12vh 0.4vh 0.12vh 0.4vh;
    
}

#cabecalho-table{
    position: sticky;
    top: 0;
}

#colunaAbrirDetalhes{
    background-color: #F0F0F0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
#colunaAbrirDetalhes button{
    border: none;
    font-size: 20px;
    background-color: #fff;
    width: 30px;
    height: 30px;
}


/*LINHA DETALHE*/
#linhaDetalhe{
    display: table-row;
}

/*-----LINHA DETALHES DA TABELA------*/

.containerLinhaOculta{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.containerLinhaDetalhes{
    width: 75vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.imagemProduto{
    background-color: beige;
    height: 30vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagemLinhaDetalhe{
    height: 100%;
    width: 100%;
}

.endereco-obs{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#colunaTopico{
    background-color: #D9D9D9;
}

.celulaDetalhe{
    background-color: #F6F5F5;
    height: 4vh;
    width: 13vw;
    padding: 0.4vh;
}

#tableObservacoes{
    height: 5vh;
    width: 26.85vw;
    padding: 0.4vh;
    background-color: #F6F5F5;
}

#celulaObservacoes{
    background-color: #F6F5F5;
}
