

/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: F0F0F0;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#caixa-recebimento {
    padding: 2vh 6px;
    font-size: 3.7vh;
    background-color: #ffcc00;
    color: white;
    border: transparent;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 38%;
    margin-left: 85%;

    
    
}

#caixa-recebimento:hover {
    background-color: #d1a700;
  
}

/* Estilos do formulário (inicialmente oculto) */
#formContainer {
    display: none;
    justify-self: center;
    align-self: center;
    padding-bottom: 20px;
    font-family: 'poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-self: center;
    justify-self: center;
    max-width: 450px;
    width: 100%;
    margin-top: -38%;
}

#formContainer h2{
    justify-self: center;
    font-size: 4vh;
}

/* Estilos do campo de input */
.input-container {
    position: relative;
    margin-bottom: 20px;
}

input {
    display: flex;
    justify-self: center;
    align-content: center;
    margin-left: 1vw;
    width: 80%;
    padding: 12px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}

input:focus {
    border-color: #FFCC00;
}

/* Estilos das labels */
label {
    position: absolute;
    top: 50%;
    left: 6.4vh;
    transform: translateY(-50%);
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: #999;
    transition: all 0.3s ease;
}

input:focus + label,
input:not(:placeholder-shown) + label {
    top: -.5vw;
    font-size: 15px;
    color: #FFCC00;
    font-family: 'poppins', sans-serif;
}

input::placeholder {
    visibility: hidden;
}

/* Estilo do botão de envio */
#submitButton {
    display: flex;
    justify-self: center;
    align-content: center;
    text-align: center;
    background-color: #FFCC00;
    color: white;
    border: none;
    height: 5vh;
    cursor: pointer;
    border-radius: 5px;
    width: 40%;
}

#submitButton h3{
    align-self: center;
    justify-content: center;
    margin-left: 5.7vh;
}

#submitButton:hover {
    border-color:#FFCC00 ;
    border-style: solid;
    border-width: 0.2493vh;
    color: #FFCC00;
    background-color: white;
    transition: 0.2s  ease;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
  }

  .checkbox-group {
        display: flex;
        justify-content: space-between;  /* Para distribuir os checkboxes igualmente */
        margin-bottom: 20px;
      }
  

  .checkbox-group label {
    display: inline-block;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    margin-right: 20px;
    padding: 5px;
  }

  .section {
    display: none;
    padding: 15px;
    margin-top: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .section.active {
    display: block;
  }