* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

body {
    background-color: #F0F0F0;
    height: 100vh;
}

/* CABEÇALHO */
.texto-nav{
    color: #1F6FAF;
}

/* LAYOUT */
.layout {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
}

.layout img {
    height: auto;
    width: 50%;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.footer img {
    height: auto;
    width: 35vh;
}